.btn-primary {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.8s ease;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #4A4A4A;
  opacity: 0,9;
  transition: opacity 2s ease;
  }
